[Unit]
Description=Python WayBack (pywb)

[Service]
User=ec2-user
WorkingDirectory=/opt/pywb/venv
ExecStart=/opt/pywb/venv/bin/pywb

[Install]
WantedBy=multi-user.target
